.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 5px black solid;
  margin-bottom: 2rem;
}

.title {
  font-size: 3rem;
  font-weight: bolder;
  width: 80%;
  color: #000000;
  padding-top: 0;
}

.image {
  padding-top: 2rem;
}
